@charset "utf-8";

*{
    margin: 10px;
}

div {
    border: 1px solid black;
    text-align: center;
    padding: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    width: 400px;
}
strong{
    margin: 0;
}